@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 60 2% 99%;
    --foreground: 60 3% 12%;
    --card: 60 2% 100%;
    --card-foreground: 60 3% 12%;
    --popover: 60 2% 100%;
    --popover-foreground: 60 3% 12%;
    --primary: 60 3% 10%;
    --primary-foreground: 60 2% 93%;
    --secondary: 60 2% 95%;
    --secondary-foreground: 60 3% 10%;
    --muted: 60 2% 95%;
    --muted-foreground: 60 3% 38%;
    --accent: 60 2% 95%;
    --accent-foreground: 60 3% 10%;
    --destructive: 60 72.22% 50.59%;
    --destructive-foreground: 60 85.7% 97.3%;
    --border: 60 2% 90%;
    --input: 60 2% 90%;
    --ring: 60 2% 64.9%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 60 3% 6%;
    --foreground: 60 2% 93%;
    --card: 60 3% 3.9%;
    --card-foreground: 60 2% 93%;
    --popover: 60 3% 3.9%;
    --popover-foreground: 60 2% 93%;
    --primary: 60 2% 93%;
    --primary-foreground: 60 3% 10%;
    --secondary: 60 3% 9.6%;
    --secondary-foreground: 60 2% 93%;
    --muted: 60 3% 9.6%;
    --muted-foreground: 60 4% 69%;
    --accent: 60 3% 9.6%;
    --accent-foreground: 60 2% 93%;
    --destructive: 60 62.8% 30.6%;
    --destructive-foreground: 60 85.7% 97.3%;
    --border: 60 3% 9.6%;
    --input: 60 3% 9.6%;
    --ring: 60 2% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  html {
    @apply scroll-smooth;
  }
  body {
    @apply bg-background text-foreground;
    /* font-feature-settings: "rlig" 1, "calt" 1; */
    font-synthesis-weight: none;
    text-rendering: optimizeLegibility;
  }
}

@layer utilities {
  .p-page {
    @apply px-6;
  }

  .overflow-mask {
    --gradient-size-start: 24px;
    --gradient-size-end: 20%;
    -webkit-mask-image: linear-gradient(
      to right,
      transparent 0,
      #000 var(--gradient-size-start),
      #000 calc(100% - var(--gradient-size-end)),
      transparent 100%
    );
    mask-image: linear-gradient(
      to right,
      transparent 0,
      #000 var(--gradient-size-start),
      #000 calc(100% - var(--gradient-size-end)),
      transparent 100%
    );
  }

  @screen sm {
    .overflow-mask {
      -webkit-mask-image: none;
      mask-image: none;
    }
  }
}

:root {
  font-family: "Geist", serif;
  font-optical-sizing: auto;
  font-style: normal;

  --primary-color-white: #f7f7f7;
  --primary-color-light: #ffffff;
  --primary-color-dark: #595959;
  --primary-color-black: #080808;
  --primary-color-neutral: #d8d8d8;
}

a {
  text-decoration: underline;
  text-underline-position: from-font;
  text-decoration-thickness: 1px;
  text-decoration-color: var(--muted-foreground);
}

a:hover {
  text-decoration-color: var(--foreground);
}

p {
  line-height: 1.65;
}
